<h3 class="text-center mt-2"><u>Categorias</u></h3>
<hr>
<div class="card ">
  <div class="card-header text-right">
    <a class="btn btn-primary" role="button" [routerLink]="['/categorias/nova']">Nova categoria</a>
  </div>
  <div class="card-body">
    <table class="table grid">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Nome</th>
          <th scope="col">Descricao</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <!-- laço de repeticao categoria que recebe de categorias lembre-se async é para
          atualizar tudo em real time database -->
        <tr *ngFor="let categoria of categorias | async" >
          <!-- <th scope="row">{{categoria.key}}</th> -->
          <td>{{ categoria.nome }}</td>
          <td>{{ categoria.descricao }}</td>
          <td class="edit">
            <a class="btn btn-warning text-white" role="button" [routerLink]="['/categorias/editar', categoria.key]"><i class="far fa-edit"> Editar</i></a>
          </td>
          <td class="delete">
            <!-- Botão para acionar modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExemplo"><i class="far fa-trash-alt"> Deletar</i></button>

  <!-- Modal -->
  <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Excluir</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Confirmar exclusão?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  <button class="btn btn-danger" data-dismiss="modal" (click)="remover(categoria.key)"><i class="far fa-trash-alt"> Deletar</i></button>
        </div>
      </div>
    </div>
  </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
